.section-heading-feature {
  background: #c9c9c9;
  padding: 60px 0;
}
.sh-wrapper {
  margin: 0 auto;
  text-align: center;
  max-width: 80%;
}

.sh-sub-title {
  @include primaryFontStack;
  font-size: 14px;
  line-height: 18px;
}

.sh-title {
  @include primaryFontStack;
  font-size: 36px;
  line-height: 42px;
  margin: 15px auto;
}

.sh-text {
  @include primaryFontStackLight;
  font-size: 18px;
  line-height: 22px;
}
