@mixin Transition($property, $milliSeconds) {
  -webkit-transition: $property $milliSeconds + ms ease-in;
  -moz-transition: $property $milliSeconds + ms ease-in;
  -ms-transition: $property $milliSeconds + ms ease-in;
  -o-transition: $property $milliSeconds + ms ease-in;
  transition: $property $milliSeconds + ms ease-in;
}
