.toolbox-wrapper-right {
  display: block;

  @include respond-screen($bp-md) {
    position: fixed;
    width: 400px;
    right: -331px;
    left: auto;
    top: 200px;
    @include Transition(transform, 250);
  }
}

.toolbox-content {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  @include respond-screen($bp-md) {
    position: absolute;
  }
}

.toolbox-item {
  list-style: none;
  width: 33.33%;

  @include respond-screen($bp-sm) {
    width: 16.66%;
  }

  @include respond-screen($bp-md) {
    width: 100%;
  }

  &:first-child .ti-icon-wrapper {
    border-top-right-radius: 37px;
    border-top-left-radius: 37px;
  }

  &:last-child .ti-icon-wrapper {
    border-bottom-right-radius: 37px;
    border-bottom-left-radius: 37px;
  }
}

.ti-link-right {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  text-align: center;
  text-decoration: none;
  color: #fff;

  &:hover {
    .ti-icon-wrapper {
      background-color: $primaryColHover;
    }

    .ti-text {
      background-color: #fff;
      transform: translateX(-420px);
    }
  }
}

.ti-icon-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: $primaryCol;
  padding: 4px;
  height: 60px;
  width: 100%;
  border-right: 1px solid $primaryCol-lt;
  border-bottom: 1px solid $primaryCol-lt;

  @include respond-screen($bp-md) {
    width: 60px;
  }
}

.ti-icon-svg {
  fill: #fff;
  width: 38px;
  height: 38px;
  margin: auto;
  padding: 3px;
}

.ti-icon-text {
  @include primaryFontStack;
  font-size: 15px;
  width: 100%;
  margin: 0 auto;
  color: #fff;
  display: none;
}

.ti-text-wrapper {
  display: none;

  @include respond-screen($bp-md) {
    position: absolute;
    display: block;
    width: 100%;
    margin: 12px auto;
    border-radius: 25px;
    z-index: -1;
    opacity: 2;
    @include Transition(transform, 250);
  }
}

.ti-text {
  @include primaryFontStack;
  font-size: 14px;
  line-height: 20px;
  color: $primaryCol;
  width: auto;
  border-radius: 25px;
  padding: 10px 5px;
  float: right;
}
