$bp-sm: 568px;
$bp-md: 768px;
$bp-lg: 1500px;

$pageBackground: #666666;
$primaryCol: #d7302c;
$primaryCol-lt: #eb4e56;
$primaryColHover: #bc271a;
$secondaryCol: #f3f5f6;
$secondaryCol-lt: #ccc;
$secondaryColHover: #404040;
