@font-face {
  font-family: "Roboto Light";
  font-style: normal;
  src: url("https://s3-ap-southeast-2.amazonaws.com/assets.i-motor.com.au/carsearch/webfonts/Roboto-Light.eot");
  src: url("https://s3-ap-southeast-2.amazonaws.com/assets.i-motor.com.au/carsearch/webfonts/Roboto-Light.eot#iefix") format("embedded-opentype"), url("https://s3-ap-southeast-2.amazonaws.com/assets.i-motor.com.au/carsearch/webfonts/Roboto-Light.woff2") format("woff2"), url("https://s3-ap-southeast-2.amazonaws.com/assets.i-motor.com.au/carsearch/webfonts/Roboto-Light.woff") format("woff"), url("https://s3-ap-southeast-2.amazonaws.com/assets.i-motor.com.au/carsearch/webfonts/Roboto-Light.ttf") format("opentype"); }

@font-face {
  font-family: "Roboto Regular";
  font-style: normal;
  src: url("https://s3-ap-southeast-2.amazonaws.com/assets.i-motor.com.au/carsearch/webfonts/Roboto-Regular.eot");
  src: url("https://s3-ap-southeast-2.amazonaws.com/assets.i-motor.com.au/carsearch/webfonts/Roboto-Regular.eot#iefix") format("embedded-opentype"), url("https://s3-ap-southeast-2.amazonaws.com/assets.i-motor.com.au/carsearch/webfonts/Roboto-Regular.woff2") format("woff2"), url("https://s3-ap-southeast-2.amazonaws.com/assets.i-motor.com.au/carsearch/webfonts/Roboto-Regular.woff") format("woff"), url("https://s3-ap-southeast-2.amazonaws.com/assets.i-motor.com.au/carsearch/webfonts/Roboto-Regular.ttf") format("opentype"); }

.main {
  background: #ccc;
  margin: 0 auto; }

@font-face {
  font-family: "Roboto Light";
  font-style: normal;
  src: url("https://s3-ap-southeast-2.amazonaws.com/assets.i-motor.com.au/carsearch/webfonts/Roboto-Light.eot");
  src: url("https://s3-ap-southeast-2.amazonaws.com/assets.i-motor.com.au/carsearch/webfonts/Roboto-Light.eot#iefix") format("embedded-opentype"), url("https://s3-ap-southeast-2.amazonaws.com/assets.i-motor.com.au/carsearch/webfonts/Roboto-Light.woff2") format("woff2"), url("https://s3-ap-southeast-2.amazonaws.com/assets.i-motor.com.au/carsearch/webfonts/Roboto-Light.woff") format("woff"), url("https://s3-ap-southeast-2.amazonaws.com/assets.i-motor.com.au/carsearch/webfonts/Roboto-Light.ttf") format("opentype"); }

@font-face {
  font-family: "Roboto Regular";
  font-style: normal;
  src: url("https://s3-ap-southeast-2.amazonaws.com/assets.i-motor.com.au/carsearch/webfonts/Roboto-Regular.eot");
  src: url("https://s3-ap-southeast-2.amazonaws.com/assets.i-motor.com.au/carsearch/webfonts/Roboto-Regular.eot#iefix") format("embedded-opentype"), url("https://s3-ap-southeast-2.amazonaws.com/assets.i-motor.com.au/carsearch/webfonts/Roboto-Regular.woff2") format("woff2"), url("https://s3-ap-southeast-2.amazonaws.com/assets.i-motor.com.au/carsearch/webfonts/Roboto-Regular.woff") format("woff"), url("https://s3-ap-southeast-2.amazonaws.com/assets.i-motor.com.au/carsearch/webfonts/Roboto-Regular.ttf") format("opentype"); }

.header-wrapper {
  overflow: hidden;
  background-color: #333; }

.nav-wrapper {
  text-align: center; }

.nav-item-list {
  width: 100%;
  padding: 0;
  margin: 10px auto; }
  @media screen and (min-width: 768px) {
    .nav-item-list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      color: #333;
      text-decoration: none; } }

.nav-item-link {
  font-family: "Roboto Regular", arial, verdana, sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  list-style: none;
  width: 48%;
  text-align: center;
  color: #fff;
  background-color: #539ec8;
  margin: 2px;
  display: inline-block;
  padding: 15px 30px;
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: color 350ms ease-in;
  -moz-transition: color 350ms ease-in;
  -ms-transition: color 350ms ease-in;
  -o-transition: color 350ms ease-in;
  transition: color 350ms ease-in; }
  @media screen and (min-width: 768px) {
    .nav-item-link {
      min-width: 8%;
      width: auto;
      margin: 0 5px; } }
  .nav-item-link:hover, .nav-item-link.active {
    background-color: #fff;
    color: #539ec8; }

.toolbox-wrapper-right {
  display: block; }
  @media screen and (min-width: 768px) {
    .toolbox-wrapper-right {
      position: fixed;
      width: 400px;
      right: -315px;
      left: auto;
      top: 200px;
      -webkit-transition: transform 250ms ease-in;
      -moz-transition: transform 250ms ease-in;
      -ms-transition: transform 250ms ease-in;
      -o-transition: transform 250ms ease-in;
      transition: transform 250ms ease-in; }
      .toolbox-wrapper-right:hover {
        transform: translateX(-275px); } }

.toolbox-content {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0; }
  @media screen and (min-width: 768px) {
    .toolbox-content {
      position: absolute; } }

.toolbox-item {
  list-style: none;
  width: 33.33%; }
  @media screen and (min-width: 568px) {
    .toolbox-item {
      width: 16.66%; } }
  @media screen and (min-width: 768px) {
    .toolbox-item {
      width: 100%; } }
  .toolbox-item:hover .ti-icon-wrapper {
    background-color: #bc271a; }
  .toolbox-item:hover .ti-text {
    background-color: #404040; }

.ti-link-right {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  text-align: center;
  text-decoration: none;
  color: #fff; }

.ti-icon-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #eb0a1e;
  padding: 4px;
  height: 75px;
  width: 100%;
  border-right: 1px solid #eb4e56;
  border-bottom: 1px solid #eb4e56; }
  @media screen and (min-width: 768px) {
    .ti-icon-wrapper {
      width: 75px; } }

.ti-icon-svg {
  fill: #fff;
  width: 38px;
  height: 38px;
  margin: auto;
  padding: 3px; }

.ti-icon-text {
  font-family: "Roboto Regular", arial, verdana, sans-serif;
  font-weight: normal;
  font-size: 15px;
  width: 100%;
  margin: 0 auto;
  color: #fff; }

.ti-text {
  display: none; }
  @media screen and (min-width: 768px) {
    .ti-text {
      font-family: "Roboto Regular", arial, verdana, sans-serif;
      font-weight: normal;
      display: block;
      width: 235px;
      font-size: 20px;
      line-height: 26px;
      padding: 28px 22px;
      text-align: left;
      background-color: #333;
      border-bottom: 1px solid #4d4d4d; } }
